Repository NCAR/ADF, pull requests merged in 2022-01, with the labels that each got.

#91 Enable multi-case processing
  config_cam_baseline_example.yaml
  lib/adf_base.py
  lib/adf_config.py
  lib/adf_diag.py
  lib/website_templates/adf_diag.css
  lib/website_templates/template.html
  lib/website_templates/template_index.html
  lib/website_templates/template_mean_diag.html
  lib/website_templates/template_mean_table.html
  scripts/analysis/amwg_table.py
  scripts/averaging/averaging_example.py
  scripts/plotting/global_latlon_map.py
  scripts/plotting/zonal_mean.py
  scripts/regridding/regrid_example.py
Labels: enhancement, plotting, regridding, config files, analysis, averaging

#96 Hot-fix to add missing mutli-case website template
  lib/website_templates/template_multi_case_index.html
Labels: bug-fix

#98 Provides a Taylor Diagram script
  scripts/plotting/cam_taylor_diagram.py
Labels: plotting
