Repository NCAR/ADF, pull requests merged in 2022-06, with the labels that each got.

#174 Fix regridding script "_load_dataset" bug
  scripts/plotting/global_latlon_map.py
  scripts/regridding/regrid_and_vert_interp.py
Labels: bug-fix, code clean-up

#178 Fix bug in QBO diagnostics and add zonal wind variable check.
  scripts/plotting/qbo.py
Labels: bug-fix, code clean-up, plotting

#172 Add a flag redo_plot to control whether an existing plot will be skipped when running the ADF
  config_cam_baseline_example.yaml
  lib/adf_diag.py
  run_adf_diag
  scripts/analysis/amwg_table.py
  scripts/averaging/create_climo_files.py
  scripts/plotting/cam_taylor_diagram.py
  scripts/plotting/global_latlon_map.py
  scripts/plotting/global_latlon_vect_map.py
  scripts/plotting/polar_map.py
  scripts/plotting/qbo.py
  scripts/plotting/zonal_mean.py
  scripts/regridding/regrid_and_vert_interp.py
Labels: plotting, config files
