Repository NCAR/ADF, pull requests merged in 2022-04, with the labels that each got.

#143 Faster timeseries and climos
  config_cam_baseline_example.yaml
  lib/adf_diag.py
  lib/adf_obs.py
  scripts/averaging/create_climo_files.py
Labels: enhancement, config files, averaging

#148 checks history files for variable before running ncrcat
  lib/adf_diag.py
Labels: bug-fix

#147 Add vector plotting capability
  config_cam_baseline_example.yaml
  lib/adf_diag.py
  lib/adf_variable_defaults.yaml
  lib/plotting_functions.py
  scripts/plotting/global_latlon_map.py
  scripts/plotting/global_latlon_vect_map.py
  scripts/plotting/zonal_mean.py
Labels: enhancement, plotting
