Repository NCAR/ADF, pull requests merged in 2024-07, with the labels that each got.

#269 AdfData class for streamlined I/O in plotting scripts
  lib/adf_dataset.py
  lib/adf_diag.py
  lib/adf_info.py
  lib/plotting_functions.py
  scripts/averaging/create_climo_files.py
  scripts/plotting/global_latlon_map.py
  scripts/plotting/zonal_mean.py
Labels: code clean-up, plotting

#316 Update history string objects
  lib/adf_diag.py
  lib/adf_info.py
  scripts/plotting/tape_recorder.py
Labels: config files

#313 Small fixes
  config_amwg_default_plots.yaml
  config_cam_baseline_example.yaml
  scripts/plotting/tape_recorder.py
Labels: code clean-up, config files
